/* 去除默认设置 */
* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1024px;
    margin: auto;
}

li {
    display: inline-block;
    list-style-type: none
}

a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
}

/* 导航栏 */
#mainnav {
    position: relative;
}

/* 顶部导航栏 */
.nav1 ul {
    position: absolute;
    top: 10px;
    right: 30px;
}

.nav1 li {
    padding: 0px 2px;
    font-size: 16px;
}

.nav1 a img {
    width: 20px;
    height: 20px;
}

/* 欢迎及时间栏 */
nav p {
    position: absolute;
    bottom: 35%;
    right: 20%;
    font-size: 14px;
    color: #676664;
}

/* 主导航栏 */
.nav2 ul {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.nav2 ul li {
    width: 79px;
    text-align: center;
}

/* 主体部分 */
.mainbody {
    margin: 0px 10px 0px 25px;
    height: 550px;
}

.mainbody img {
    display: block;
}

.left {
    float: left;
    position: relative;
    display: inline-block;
    height: 550px;
    width: 190px;
    background-image: url("../images/customer.jpg");
    background-repeat: no-repeat;
}

.left ul {
    position: absolute;
    top: 200px;
    left: 10px;
}

.left li {
    list-style: none;
}

.left a {
    text-decoration: none;
}

.left a:visited {
    color: #000000;
}

.left a:hover {
    color: #FF8E31;
}

.right {
    display: inline-block;
    padding: 0px 20px;
    height: 546px;
    width: 740px;
    border: 1px solid #DB969C;
}

#main img {
    display: inline;
}
#main ul {
    margin: 10px 0px;
    padding: 0px 15px;
}

#main ul li {
    display: block;
    /* list-style-image: url("../images/list_icon.gif"); */
}

#main ul li a {
    color: #0000ff;
    text-decoration: underline;
}

h2 {
    margin: 10px;
}

p {
    margin: 10px;
}

/* footer栏 */
footer {
    clear: both;
    width: 1024px;
    text-align: center;
    font-size: 13px;
}

footer ul {
    margin: 10px 0px;
}

footer p {
    margin: 5px;
}
